<?xml version="1.0"?>
<config>
	<modules>
		<Ifuturz_Uploadpdf>
			<version>0.1.0</version>
		</Ifuturz_Uploadpdf>
	</modules>
	<frontend>
        <routers>
            <uploadpdf>
                <use>standard</use>
                <args>
                    <module>Ifuturz_Uploadpdf</module>
                    <frontName>uploadpdf</frontName>
                </args>
            </uploadpdf>
        </routers>
        <layout>
            <updates>
                <uploadpdf>
                    <file>uploadpdf.xml</file>
                </uploadpdf>
            </updates>
        </layout>
    </frontend>
	<global>
	<blocks>
			<uploadpdf>
				<class>Ifuturz_Uploadpdf_Block</class>
			</uploadpdf>
			<adminhtml>
				<rewrite>
					<catalog_product_edit_tabs>Ifuturz_Uploadpdf_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
				</rewrite>
			</adminhtml>
		</blocks>
	<models>
			<uploadpdf>
				<class>Ifuturz_Uploadpdf_Model</class>
				<resourceModel>uploadpdf_mysql4</resourceModel>
			</uploadpdf>
			<uploadpdf_mysql4>
				<class>Ifuturz_Uploadpdf_Model_Mysql4</class>
				<entities>
					<uploadpdf>
						 <table>ifuturz_uploadpdf</table>
					</uploadpdf>
				</entities>
			</uploadpdf_mysql4>
		</models>
		 <resources>
            <uploadpdf_setup>
                <setup>
                    <module>Ifuturz_Uploadpdf</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </uploadpdf_setup>
            <uploadpdf_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </uploadpdf_write>
            <uploadpdf_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </uploadpdf_read>
        </resources>
		
		<helpers>
			<uploadpdf>
                <class>Ifuturz_Uploadpdf_Helper</class>
            </uploadpdf>
		</helpers>
	</global>
	<adminhtml>
        <layout>
            <updates>
                <uploadpdf>
                    <file>uploadpdf.xml</file>
                </uploadpdf>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <ifuturz_save_product_data9>
                        <type>singleton</type>
                        <class>uploadpdf/observer</class>
                        <method>saveProductTabData</method>
                    </ifuturz_save_product_data9> 
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>